<div class="sidebar">
    <div class="sidebar-header" style="display: flex; align-items: center; gap: 10px; padding: 15px; border-bottom: 1px solid #444;">
        <div style="font-size: 22px;">🎓</div>
        <span style="font-weight: 600; font-size: 17px; color: white;" th:text="${@userService.getUsername()}"></span>
    </div>


    <ul class="nav-menu">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-tachometer-alt me-2"></i> Dashboard
            </a>
        </li>
        <li class="nav-item" th:classappend="${currentPath == '/topicsStudent'} ? ' active'">
            <a class="nav-link" href="/topicsStudent">
                <i class="fas fa-graduation-cap me-2"></i> See All Degrees Topic
            </a>
        </li>
        <li class="nav-item" th:classappend="${currentPath == '/viewAssignments'} ? ' active'">
            <a class="nav-link" href="/viewAssignments">
                <i class="fas fa-plus me-2"></i> View Assignments
            </a>
        </li>
<!--        <li class="nav-item" th:classappend="${currentPath == '/viewNotificationsProfessor'} ? ' active'">-->
<!--            <a class="nav-link" href="/viewNotificationsProfessor">-->
<!--                <i class="fas fa-envelope-open-text me-2"></i> View Notifications-->
<!--            </a>-->
<!--        </li>-->
<!--        <li class="nav-item" th:classappend="${currentPath == '/createParts'} ? ' active'">-->
<!--            <a class="nav-link" href="/createParts">-->
<!--                <i class="fas fa-layer-group me-2"></i> Degree Part-->
<!--            </a>-->
<!--        </li>-->
    </ul>
</div>
