<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor Management Dashboard</title>
    <link href="/assets/vendor/jquery/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<style>
    .sidebar {
        width: 250px!important;
        background-color: #2c3e50!important;
        color: #fff;
        min-height: 100vh;
        margin-top: 0px!important;
    }
</style>
<body>
<!-- Main Content Container -->
<div class="main-container">
    <div th:replace="/Teacher/sidebarTeacher.html"></div>

    <!-- Main Content -->
    <div class="content">
    </div>
</div>
</div>
</body>
</html>